# Collection of Node Types (delimited by [name|class]) and their respective properties
# Anything after the '=' is assumed to be a valid expression for the default value
# of the parameter. If omitted, it defaults to '0'
[Quiet Excitatory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Arrow
Recovery Scale=0.02
Thalamic Input=0.0
Recovery Sensitivity=0.2
Initial Charge=-65.0
Post Spike Reset=-65.0 + 15.0 * RAND() ^ 2.0
Trigger=30.0
Squash Function=0.5
PSR Recovery=8.0 - 6.0 * RAND() ^ 2.0
Synaptic Delay=20 * RAND()

[Fast Excitatory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Arrow
Recovery Scale=0.02
Synaptic Delay=1.0
Thalamic Input=5.0 * GRAND()
Recovery Sensitivity=0.2
Initial Charge=-65.0
Post Spike Reset=-65.0 + 15.0 * RAND() ^ 2.0
Trigger=30.0
Squash Function=0.5
PSR Recovery=8.0 - 6.0 * RAND() ^ 2.0

[Inhibitory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Circle
Squash Function=-1
Trigger=30
Initial Charge=-65
Recovery Scale=0.02 + 0.08 * RAND()
Recovery Sensitivity=0.25 - 0.05 * RAND()
Post Spike Reset=-65
PSR Recovery=2
Thalamic Input=2 * GRAND()
Synaptic Delay=20 * RAND()

[Fast Inhibitory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Circle
Recovery Scale=0.02 + 0.08 * RAND()
Synaptic Delay=1.0
Thalamic Input=2.0 * GRAND()
Recovery Sensitivity=0.25 - 0.05 * RAND()
Initial Charge=-65.0
Post Spike Reset=-65.0
Trigger=30.0
Squash Function=-1.0
PSR Recovery=2.0

[Sigmoid Perceptron|uk.ac.ic.doc.neuralnets.graph.neural.Perceptron]
Edge Decoration=Arrow
Initial Charge=0.0
Trigger=6.0 * RAND()
Squash Function=1.0 / (1.0 + e ^ -charge)

[Perceptron|uk.ac.ic.doc.neuralnets.graph.neural.Perceptron]
Edge Decoration=Arrow
Initial Charge=-35.0
Trigger=0.0
Squash Function=1.0

[Quiet Inhibitory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Circle
Recovery Scale=0.02 + 0.08 * RAND()
Thalamic Input=0.0
Recovery Sensitivity=0.25 - 0.05 * RAND()
Initial Charge=-65.0
Post Spike Reset=-65.0
Trigger=30.0
Squash Function=-1.0
PSR Recovery=2.0
Synaptic Delay=20 * RAND()

[Excitatory Spiking Neurone|uk.ac.ic.doc.neuralnets.graph.neural.SpikingNeurone]
Edge Decoration=Arrow
Squash Function=0.5
Trigger=30
Initial Charge=-65
Recovery Scale=0.02
Recovery Sensitivity=0.2
Post Spike Reset=-65 + 15 * RAND() ^ 2
PSR Recovery=8 - 6 * RAND() ^ 2
Thalamic Input=5 * GRAND()
Synaptic Delay=20 * RAND()

